# Docker ignore file
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.nyc_output
coverage
.cache
.vscode
.DS_Store
*.log
data
build
.svelte-kit
